include mixins
extends layout

block content
  .jumbotron
    .container
      h1 Real Racing Telemetry
      p
        | If you are an avid Real Racing 3 fan, who always wished you could save your own race statistics, then you've come to the right place. Save fastest lap and race times for each event you take part in, record your cars and their performance details, thn view your past records to review your improvements.
      p
        a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »