include mixins
extends layout

block content
  +nav("Optimized4U", "dropdown_menu")
    +nav_item( "/", "active" ) Home
    +nav_item( "/records" ) Records
    +nav_item( "/reports" ) Reports
  h1= title
  p Welcome to #{title}
