extends layout

block content
  .jumbotron
    .container
      h1 Real Racing Telemetry
      p
        | If you are an avid Real Racing 3 fan, who always wished you could save your own race statistics, then you've come to the right place.
      p
        | Save fastest lap and race times for each race, record your cars and their performance ratings, then view your past records and compare your race telemetry.
      p
        a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »