include mixins
doctype
html( lang="en" )
  head
    title Real Racing Database
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='Bootstrap with Jade and Express 4' )
    //- Bootswatch Theme
    +bootswatch("darkly")

  body(style="padding-bottom:10rem;")
    .container
      block content

  script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' )
  script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' )
  script( src='https://cdn.auth0.com/js/lock-8.2.min.js' )
  script.
    var lock = new Auth0Lock('Py6HeAMtVW5Lu07k1Gl1KQrArMfU6xGr', 'optimized4u.eu.auth0.com');
    function signin() {
      lock.show({
          callbackURL: 'http://localhost/callback'
        , responseType: 'code'
        , authParams: {
          scope: 'openid profile'
        }
      });
    }